# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output folders
bin/
build/
out/

# Dependency directories
vendor/

# IDE/editor files
.idea/
.vscode/
*.swp

# Logs and temp files
*.log
*.tmp
*.bak
*.old

# OS-specific files
.DS_Store
Thumbs.db

# Go-specific files
*.cover
*.mod
*.sum

# Testing cache
testdata/
